.grayscale{
  -webkit-filter:grayscale(1);
}
ul,li{list-style: none;padding: 0;margin: 0;}
.img{img{width: 100px;height: 100px;border-radius: 100%;transition: all 0.35s ease-in-out;}transform: scale(1) translateX(0);width: 100px;height: 100px;z-index: 100;position: relative;}
.img::before{position: absolute;display: block;content: "";height: 100px;width: 100px;}
.left-to-right{position: relative;margin-left: 100px;
  a:hover{
    .info{
      transform: translateX(0);
      opacity: 1;
    }
    img{
      transform:scale(0.5) translateX(100%);
    }
    .grayscale{-webkit-filter:grayscale(0.2);transition: all 0.35s }
  }
}
.info{background-color: #000066;position: absolute;left:0;right: 0;top:0;width: 100px;height: 100px;border-radius: 100%;color:#fff;text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.35s ease-in-out;
}
