input {
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  border: #35a5e5 1px solid;
  border-radius: 4px;
  outline: none;
}
input:focus{
  box-shadow: 0 0 5px #35a5e5;
}